@import "tailwindcss";
@plugin "@tailwindcss/typography";


@layer components {
    .chat-markdown {
        @apply prose prose-sm md:prose-base max-w-none;

        @apply prose-p:leading-relaxed prose-p:my-1;
        @apply prose-headings:text-gray-900 prose-headings:my-2;
        @apply prose-strong:text-black prose-strong:font-bold;

        @apply prose-ul:list-disc prose-ul:pl-5;
        @apply prose-ol:list-decimal prose-ol:pl-5;
        @apply prose-li:my-0.5;

        /* inline code */
        @apply prose-code:font-mono prose-code:text-base prose-code:px-1 prose-code:rounded;
        @apply prose-code:before:content-none prose-code:after:content-none;

        /* code block */
        @apply prose-pre:font-mono prose-pre:bg-[#1e1e1e] prose-pre:p-4;
        @apply prose-pre:rounded-xl prose-pre:shadow-lg prose-pre:text-gray-100;
    }
}